body {
  background-color: #FFFFFF;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: black
}

.NavBar {
  position: fixed;  
  background-color: white;
  top: 0; /* Stick it to the top */
  left: 0;
  height: 65px;
  width: 100vw;
  padding-top: 15px;
  margin-bottom: 30px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.LogoImg {
  height: 60px;
}

.LogoImg:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.LogoImg.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.container {
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "sidebarContainer pagesContainer";
}

.sidebarContainer {
  grid-area: sidebarContainer;
}

.Sidebar {
  position: sticky 50%;
  width: 300px;
  height: 300px;
  margin-top: 35%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;

  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;

  background-color: #88c98e;
}

.LogoImg {
  height: 60px;
}

.LogoImg:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.LogoImg.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.newTaskForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.newTaskForm input[type="text"] {
  width: 87%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.newTaskForm button {
  width: 100%;
  padding: 10px;
}


.pagesContainer {
  grid-area: pagesContainer;
  text-align: center;
}

.Footer {

  width: 100vw;
  height: 80px;
  bottom: 0; /* Stick it to the bottom */
  left: 0;
  padding: 7px;
  margin-top: 50px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;

  
  background-color: #ffbd59;
}

.LogoFooter {
  height: 30px;

}

.listdetails-card {
  margin-top: 140px;
  height: 64.5vh;
}
.dashboard-div {
  margin-top: 120px;
}

.listDisplayed {
  margin: 10px;
  padding: 10px;
  border: 2.5px solid #8c52ff; 
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editButton {
  background-color: #b9dae8;
  color: white;
  margin: 0 10px;
}

.deleteButton {
  background-color: #fb6564;
  color: white;
}

.about-container {
  margin-top: 110px;
  height: 66vh;
}

.about-page {
  padding: 10px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 110px;
  height: 60vh;
}

.about-title {
  margin-top: 110px;
  size: 40px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.about-card {
  margin: 10%;
  flex-direction: column;
  display: flex;

}

.about-card img {
  max-width: 20vw;
}
.return-btn {
  background-color: #b9dae8;
  color: white;
}

.info-img {
  height: 5%;
  width: 5%;
  margin-bottom: 0;
}

.NotFoundPage {
  margin-top: 120px;
  height: 66vh;
  padding-top: 10px;
}

.NotFoundConatiner {
  padding: 10px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.NotFoundConatiner img {
  max-width: 20vw;
}

.Pauline404 {
  display: flex;
  flex-direction: column;
}

.Simona404 {
  display: flex;
  flex-direction: column;
}




/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/