body {
  background-color: #FFFFFF;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: black
}

.NavBar {
  position: fixed; /* Stick it to the top */
  top: 0; /* Stick it to the top */
  left: 0;
  height: 50px;
  width: 100%;
  padding: 30px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.LogoImg {
  height: 60px;
}

.LogoImg:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.LogoImg.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.container {
  width: 100vw;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: "sidebarContainer pages";
}

.sidebarContainer {
  grid-area: sidebarContainer;
}

.Sidebar {
  width: 300px;
  height: 300px;
  margin-top: 50%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 2opx;

  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;

  background-color: #88c98e;
}

.pages {
  grid-area: pages;
  text-align: center;
}

.Footer {
  position: fixed;
  width: 100%;
  height: 70px;
  bottom: 0; /* Stick it to the bottom */
  left: 0;
  display:flex;
  align-items: center;
  justify-content:space-between;
  
  background-color: #ffbd59;
}

.LogoFooter {
  height: 30px;
  width: auto;
}

.listDisplayed {
  margin: 10px;
  padding: 10px;
  border: 2.5px solid #8c52ff; 
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deleteButton {
  background-color: #b9dae8;
  color: white;
}

.deleteButton {
  background-color: #fb6564;
  color: white;
}






/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/